.hero-container{
    background: url('../../../public/Rectangle\ 2landing.png') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container > h3 {

    margin-bottom: 80px;
    font-size: 50px;
    color: #6CC51D;
}
.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width : 960px){
    .hero-container > h1{
        font-size: 70px;
        margin-top: -150px;
        padding-left: 50px;
    }
    .hero-container > h3 {
        margin-bottom: 130px;
        font-size: 40px;
        color: #6CC51D;
        padding-left: 50px;
    }
}
@media screen and (max-width :  768px) { 
    .hero-container  > h1 {
        font-size: 50px;
        margin-top: -100px;
        padding-right: 50px;

        padding-left: 50px;
    }
    .hero-container > p {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 30px;
    }
    .hero-container > h3 {

        margin-bottom: 100px;
        font-size: 35px;
        padding-right: 50px;

        color: #6CC51D;
        padding-left: 50px;
    }
}


