.service-slideshow {
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-items: center; */
    text-align: center;
    /* max-width: 400px; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* padding: 20%; */
    padding-left: 10%;
    padding-top: 12%;
  }
  
  .service-slideshow h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .service-slideshow p {
    font-size: 3rem;
    margin-bottom: 2rem;
    

  }
  .service-slideshow li{
    text-align: left;
    
    margin-bottom: 1rem;
  }
  .slide-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    float: inline-end;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slide-controls button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .slide-controls button:hover {
    color: #0099ff;
  }

  .service-list {
    list-style: disc;
  }
  

