


 .cards {
  padding: 5rem;
  padding-bottom: 0px;
  width: 100%; /* change to full width */
  background: #fff;
  display: flex; /* change to flex */
  flex-wrap: wrap; /* enable wrapping */
}

.cards2 {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%; /* change to full width */
  padding-right: 0px; /* remove right padding */
  display: flex; /* change to flex */
  justify-content: center; /* center the image */
}

.cards__container {
  display: flex;
  flex-flow: column;
  max-width: 1120px;
  width: 100%; /* change to full width */
  margin: 0 auto;
  padding: 0 20px; /* add horizontal padding */
}


h1 {
  font-size: 50px;
  margin-top: 0; /* remove default margin */
}

.cards__container h3 {
  margin-top: 30px; /* add margin */
  font-size: 25px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.img-store {
  display: flex; /* enable flexbox */
  margin-top: 30px; /* add margin */
}

.play {
  width: 250px;
  height: 64.01px;
  margin: 10px;
  cursor: pointer;

}

.colorful {
  color: #6cc51d;
}

p {
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 20px; /* add margin */
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
  display: flex; /* enable flexbox */
  flex-wrap: wrap; /* enable wrapping */
  justify-content: center; /* center the items */
}

.cards__items {
  margin-bottom: 24px;
  flex: 1 1 300px; /* adjust flexbox properties */
  margin: 10px;
}

.cards__item {
  border-radius: 10px;
  overflow: hidden;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;  
}



@media screen and (max-width: 767px) {
  .play{
    
    width: 120px;
    height: 47px;
  }
  .img-store {
    
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  /* apply styles for screens larger than 768px */
  .cards {
    padding: 5rem;
    padding-bottom: 0px;
    width: 50%;
    background: #fff;
    float: left;
  }

  .cards2 {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 50%;
    padding-right: 150px;
    float: right;
  }

  .cards__container {
    width: 90%;
    padding: 0;
  }
  .play{
    width: 190px;
    height: 67px;
  }
}